* { box-sizing: border-box; }

html, body {
	height: 100%;
}

#modal-background {
}

#newimage {

}

#tags_tag {
	padding: 2px 4px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4),
				inset -1px -1px 1px rgba(0, 0, 0, 0.2);
}
