.tabs {
	.tabs--header {
		list-style-type: none;
		border-bottom: 5px solid #678b3f;
		padding: 5px 5px 2px 0;

		li {
			display: inline-block;
			color: white;
			background-color: #678b3f;
			margin: 0 2px 0 0;
			padding: 3px 6px;
			text-decoration: none;
			letter-spacing: 1px;
			border-radius: 5px 5px 0 0;
		}

		li.active {
			background: #8cb85c;
		}
	}

	.tabs--panel {
		display: none;
	}
	.tabs--panel.active {
		display: block;
	}
}
