.tabs {
	.tabs--header {
		list-style-type: none;
		padding: 5px;
		background-color: #222;

		li {
			display: inline-block;
			color: white;
			margin: 0 2px 0 0;
			padding: 3px 6px;
			text-decoration: none;
			letter-spacing: 1px;
			cursor: pointer;
		}

		li.active {
			border-bottom: 2px solid #ddd;
		}
	}

	.tabs--panel {
		display: none;
	}
	.tabs--panel.active {
		display: block;
	}
}
