.imagesearch {

	.imagesearch--container {
	}

	.imagesearch--imgframe {
		display: inline-block;
		margin: $imagesearch-image-spacing;
		height: $imagesearch-image-height;
		width: $imagesearch-image-width;
		text-align: center;


		&:before {
			// required to vertically center images with a fixed height frame
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		img {
			max-width: 100%;
			max-height: 100%;
			vertical-align: middle;
		}
	}
}
